
*{
    margin: 0;
    padding: 0;
}
.header-section{
    background-color: rgb(255, 255, 255);
    width: 1125px;
    margin: 0 auto;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 49px;
}

.search-parent{
    position: relative;
}

.search-parent input{
    background: rgb(241, 241, 241);
    border-radius: 66px;
    padding: 12px 25px;
    width: 500px;
    border: none;
}

.search-parent i{
    color: rgb(186, 186, 186);
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 20px;
}

.nav-items{
    display: flex;  
    gap: 24px;
}

.nav-items li{
    list-style: none;
}

.nav-items li a{
    text-decoration: none;
}